<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Page Title{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <header>
            <h1>{% block header %}Welcome{% endblock %}</h1>
        </header>
        
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% if user.is_authenticated %}
                </br>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% endif %}
        </footer>

    </body>
</html>